# Importação da biblioteca Pandas:

In [1]:
import pandas

# Leitura da Matriz de Contagem:

In [2]:
matrizContagem = pandas.read_csv('matrizContagem.csv', low_memory = False)

matrizContagem.head()

,insercao,0,1,3,7,11,14,15,16,18,...,70345,83001,83002,100000,104663,200000,300000,400000,603103,99999999
0,0,2392,0,30,0,0,0,0,18,16,...,2,0,0,0,0,0,0,0,0,0
1,1,0,23978,14152,0,0,31301,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,11,1268,5028,0,0,3575,0,31,10,...,0,0,0,0,0,1,0,21,0,0
3,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,11,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# Listagem dos códigos dos movimentos presentes:

In [3]:
listaCodigos = list(matrizContagem['insercao'])

# Leitura da Matriz de Padrões:

In [4]:
matrizPadrao = pandas.read_csv('matrizPadrao.csv', low_memory = False)

matrizPadrao.head()

   insercao  primeiro  segundo  terceiro  quarto  quinto  sexto
0         0         0      132       246   11383     581  11010
1         1        14        1        51       3     493    132
2         3        51        3        85     132      14     48
3         7        51       -1        -1      -1      -1     -1
4        11        51       60       132   11010      -1     -1

# Geração da Matriz de "Red Flags":

In [5]:
listaColunas = ['insercao', 'total', 'redFlags', 'porcentagem']

matrizRedFlags = pandas.DataFrame(0, index = range(matrizContagem.shape[0]), columns = listaColunas)

matrizRedFlags['insercao'] = matrizContagem['insercao']

matrizRedFlags.head()

   insercao  total  redFlags  porcentagem
0         0      0         0            0
1         1      0         0            0
2         3      0         0            0
3         7      0         0            0
4        11      0         0            0

In [6]:
for i in range(matrizRedFlags.shape[0]):
    
    linhaContagem = matrizContagem.iloc[i, 1:]
    
    total = linhaContagem.sum()
    
    matrizRedFlags.loc[i, 'total'] = total
    
    linhaPadrao = matrizPadrao.iloc[i, 1:]
    linhaPadrao = [int(p) for p in linhaPadrao] 
    
    redFlags = 0
    
    for j in range(len(linhaContagem)):
        
        if not (listaCodigos[j] in linhaPadrao):
            
            redFlags = redFlags + linhaContagem[j]
            
    matrizRedFlags.loc[i, 'redFlags'] = redFlags
    
matrizRedFlags['porcentagem'] = round(((matrizRedFlags['redFlags'] / matrizRedFlags['total']) * 100), 1)  

matrizRedFlags.head()

   insercao   total  redFlags  porcentagem
0         0    7960      2728         34.3
1         1  131667     27557         20.9
2         3  109312     15040         13.8
3         7       1         0          0.0
4        11      18         0          0.0

# Exibição dos valores mínimo, máximo e médio da porcentagem de "red flags":

In [7]:
minimo = matrizRedFlags['porcentagem'].min()

print('Proporção mínima: %.1f%%.' % minimo)

Proporção mínima: 0.0%.

In [8]:
maximo = matrizRedFlags['porcentagem'].max()

print('Proporção máxima: %.1f%%.' % maximo)

Proporção máxima: 53.3%.

In [9]:
media = matrizRedFlags['porcentagem'].mean()

print('Proporção média: %.1f%%.' % media)

Proporção média: 11.2%.

# Exportação da Matriz de "Red Flags" em formato CSV:

In [10]:
matrizRedFlags.to_csv('matrizRedFlags.csv', index = False)